#wrapCart{width:1050px; margin:0 auto; background:#fff; -moz-user-select:none;}
#wrapCart h1{height:60px; padding-left:10px; font:bolder 16px/60px "微软雅黑"; color:#f00; letter-spacing:1px; background:#F5F7FA;}
#wrapCart table{border:1px solid #ccc;}
#wrapCart th{height:45px; text-align:center; font:12px/45px "微软雅黑"; border-bottom:1px solid #ccc;}
#wrapCart tbody tr{padding:5px;}
#wrapCart tbody tr{vertical-align:top; height:100px;}
#wrapCart tbody tr td{padding:10px; border-bottom:1px solid #ccc;}
span{letter-spacing:1px;}
.tdCheckboxs{width:100px; text-align:center; position:relative;}
.tdCheckboxs input{position:absolute; top:0; left:0; visibility:hidden; display:inline-block; }
.tdCheckboxs label{display:inline-block; width:15px; height:15px; background:url(../image/icon/cart.png) no-repeat 0 -20px ;vertical-align:-4px; margin-right:3px; cursor:pointer;}
#wrapCart input.checkboxs{width:14px; height:14px; border:1px solid #ccc;}
.formName{width:80px; text-align:center;}
.formName span{font:12px "微软雅黑"; color:#666;}
.formPicture{width:100px;}
.formDescription{width:200px;  letter-spacing:1px;}
.formDescription a{font:12px "微软雅黑"; color:#666;}
.formDescription a:hover{color:#f00; text-decoration:underline;}
.formPrice{font:12px "微软雅黑"; color:#666; text-align:center;}
.formNumber{width:200px; position:relative;}
.formNumber span{position:absolute; top:0; left:0; width:20px; height:20px; border:1px solid #ccc; text-align: center; line-height:20px; cursor:pointer; color:#666; z-index:100;}
.formNumber span:hover{color:#000; border:1px solid #000;}
div.stock{width:100px; height:25px; font:12px/25px "微软雅黑"; position:absolute; left:50px; top:40px; color:#666; letter-spacing:1px;}
div.stock strong{margin-left:5px; margin-right:5px; font:14px "微软雅黑"; color:#f00;}
span.spanDescrise{left:49px; top:10px;}
span.spanPlus{left:131px; top:10px;}
.formNumber input{width:55px; height:20px; border:1px solid #ccc; position:absolute; left:70px; top:10px;padding-left:5px; outline:none;}
.formAlls{width:50px; text-align:center;}
.formAlls span{font:12px "微软雅黑"; color:#666;}
.formOperation{width:200px; text-align:center;}
.formOperation span{font:12px "微软雅黑"; margin-right:10px; cursor:pointer; color:#666;}
.formOperation span:hover{color:#f00; text-decoration:underline;}

tfoot tr{border:1px solid #ccc;}
tfoot tr td{padding:10px 0;}
tfoot span{font:12px "微软雅黑"; color:#666;}
tfoot em{font:bold 16px "微软雅黑"; margin-right:8px; margin-left:8px; color:#f00;vertical-align:-2px;}
.deleteAlls{width:100px; cursor:pointer;}
.deleteAlls span:hover, .footerCollection span:hover{color:#f00; text-decoration:underline;}
.footerCollection{width:100px; text-align:center; cursor:pointer;}
.footerAllNum span{font:12px "微软雅黑";}
.footerAllNum{width:100px;}
.footerAllPrice span{font:bold 16px "微软雅黑"; color:#f00;}
.footerGo{text-align:right;}
.footerGo input{width:100px; height:45px; margin-right:50px; background:#E54346; color:#fff; border:none; border-radius:5px; font:bold 16px "微软雅黑"; letter-spacing:2px; cursor:pointer; outline:none;}
.footerGo input:hover{opacity:0.9; filter:alpha(opacity=90);}


tr.addTrStyle{background:#FCE5E0;}








