
p.tips{height:60px; font:20px/60px "微软雅黑"; color:#666; padding-left:10px; border-top:1px solid #ccc; letter-spacing:1px;}
ul.detailInfo li{height:60px; font:14px/60px "微软雅黑"; padding-left:30px; color:#666; letter-spacing:1px;}
ul.detailInfo li input[type="password"]{border:none;}
ul.detailInfo li a{margin-left:100px; color:#2C2CF7;}
ul.detailInfo li a:hover{color:#f00;}

































